body {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/eu_sws-sol_showcase_ft_r_d92af510.jpeg?region=0,0,1600,800&width=1200&optimize=true);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    float: right;
}
body h2 {
    margin-right: 20%;
    margin-top: 35%;
    color: yellow;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fieldset {
    float: right;
    background-color: yellow;
    border-radius: 20%;
    margin-right: 10%;;
    border-color: black;
}
body ul {
    text-align: center;
    list-style: none;
}
body ul li {
    padding: 5px;
}
#last_one {
    float: right;
    margin-right: 4%;
}
body ul li input {
    text-align: center;
    border-radius: 30%;
    padding: 3px;
    background-color: black;
    color: yellow;
    border-color: yellow;
    margin-right: 10%;
}
body ul li textarea {
    text-align: center;
    background-color: black;
    color: yellow;
}
body ul li textarea::placeholder {
    color: yellow;
}
body p {
    text-align: center;
    margin-left: 8%;
}
body p input { 
    padding: 10px 30px;
    border-radius: 10px;
    float: right;
    margin: 5% 44% 5% 0;
    background-color: black;
    color: yellow;
    border-color: yellow;
}
body p input:hover {
    background-color: yellow;
    color: black;
    border-color: black;
}