body {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/eu_sws-sol_showcase_ft_r_d92af510.jpeg?region=0,0,1600,800&width=1200&optimize=true);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    float: right;
}

body h1 {
    color: yellow;
    margin-left: 20%;
    margin-top: 5%;
}
body p {
    color: white;
    text-align: center;
    font-size: 110%;
}

body h2 {
    color: yellow;
    margin-left: 45%;
    margin-top: 10%;
}

body ul {
    color: white;
    text-align: center;
    font-size: 110%;
}
body ul li {
    list-style: none;
}
body a {
    text-decoration: none;
}
body a h3 {
    margin-left: 46%;
    margin-top: 8%;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    background-color: yellow;
    color: black;
}
body a h3:hover {
    background-color: black;
    color: yellow;
}