body {
    background-image: url(https://1.bp.blogspot.com/-T85naTcMAYA/VzNJ12hg2iI/AAAAAAAAAIk/Q9r0MLjbqX4IUFb1gRAl8DyhkVM-VIT6gCLcB/s1600/1miEZBL.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    padding: 0;
    margin:0;
    color: yellow;
}

/* Start Button */
#start {
    background-color: yellow;
    color: black;
    width: 30%;
    display: block;
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    border: solid 2px black;
    font-weight: bold;
}
/* -- Timer -- */
#timer {
    position: fixed;
    opacity: 0.95;
    background: #54AE06;
    font-weight: bold;
    text-align: center;
    width: 30%;
    line-height: 200%;
    font-size: 1.5vw;
    left: 35%;
    border: solid 2px;
    border-radius: 5px;
    top: 0;
    display: none;
    color: black;
}
/* Apply to all sections */
body section {
    text-align: center;
    margin-top: 5%;
}
body section h2 {
    text-decoration: underline;
}
body section fieldset {
    display: inline;
    border-color: yellow;
    border-radius: 25%;
}
body section fieldset legend {
    text-transform: uppercase;
}
label:hover {
    background-color: yellow;
    border-radius: 20%;
    color: black;
}
p {
    text-align: center;
    margin: 3% 0;
}
p input {
    border-radius: 20px;
    background-color: yellow;
    font-weight: bold;
    padding: 10px;
    border-color: black;
}
p input:hover {
    background-color: black;
    color: yellow;
    border-color: yellow;
}
option {
    font-weight: bold;
}

body ul {
    list-style: none;
}
select {
    background-color: yellow;
    border-radius: 20px;
    font-weight: bold;
}

/* Question three */
#text_01 {
    background-color: yellow;
    border-color: black;
    border-radius: 25%;
}
#label3:hover {
    background-color: transparent;
    color: yellow;
}

/* Question 4 */
#text_02 {
    background-color: yellow;
    border-color: black;
    border-radius: 25%;
}
#label4:hover {
    background-color: transparent;
    color: yellow;
}

/* Question 9 */
#question9 {
    border-radius: 0;
}
#fieldset9 {
    border-radius: 10%;
}

/* Question 10 */
#question10 {
    border-radius: 0;
}
#fieldset10 {
    border-radius: 10%;
}

/* Results */
#resultados {
    font-weight: bold;
    border: solid 2px;
    border-radius: 10px;
    padding: 2%;
    display: none;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
    box-shadow: 0.6vw 0.6vw 0.2vw #0F2202;
}