/* ---- Body ---- */
body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to top, #ffffff, #ece9e6);
  background: linear-gradient(to top, #ffffff, #ece9e6);
}

.jumbotron {
  background: url("https://mdbootstrap.com/img/Photos/Others/gradient1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
/* ---- Header ---- */
#header {
  margin-bottom: 0;
}
#div-logo {
  text-align: -webkit-center;
}
#logo-header {
  width: 40%;
}

/* ---- Footer ---- */
#footer {
  margin-bottom: 0;
  padding-top: 0;
}
#footer,
.row {
  text-align: center;
}
.cajas-footer {
  margin-top: 5%;
}

/* ---- Social Media ---- */
#enlaces-redes-sociales {
  display: flex;
  justify-content: space-evenly;
}

/* ---- Contacto ---- */
#contacto,
a {
  color: black;
}

/* ---- Sobre mí ---- */
#sobre-mi,
a {
  color: black;
}
