body {
    background-image: url(https://1.bp.blogspot.com/-T85naTcMAYA/VzNJ12hg2iI/AAAAAAAAAIk/Q9r0MLjbqX4IUFb1gRAl8DyhkVM-VIT6gCLcB/s1600/1miEZBL.gif);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    padding: 0;
    margin:0;
}
#titulo {
    text-align: center;
    margin-top: 5%;
    position: relative;
    top: 200px;
}
#titulo a {
    text-decoration: none;
}
#titulo h1 {
    background-color: rgba(253, 249, 0, 0.5);
    display: inline;
    padding: 10px;
    color: black;
    border-radius: 20px;
}
#titulo h1:hover {
    background-color: yellow;
}
#titulo h3 {
    color: rgb(253, 249, 0);
}